{% load static %}
<head>
 <title>Информация</title>
<link rel="shortcut icon" type="image/x-icon" href="{% static 'main/assets/images/logo.png' %}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>


<div class="container">

 <!-- bootstrap nav -->
 <nav class="navbar navbar-light bg-light navbar-expand">
 <a class="navbar-brand" href="{% url 'not_home' %}">Добро пожаловать!</a>
 <ul class="navbar-nav">
 <li class="nav-item"><a href="https://github.com/hrshprivate?tab=repositories" class="nav-link">git</a></li>
 <li class="nav-item"><a href="https://t.me/horsh1337" class="nav-link">support</a></li>
 </ul>
 </nav>
 <!-- /bootstrap nav -->
 <div class="row py-3">
 <div class="col-7 col-sm-8 content">
 <p>Что такое нейронная сеть? Базовая информация о нейронных сетях
Классическое определение говорит нам, что нейронной сетью называется некоторая последовательность нейронов, объединённых между собой синапсами. Если программа имеет структуру нейронной сети, появляется возможность на машинном уровне проанализировать входные данные с запоминанием результата.

Т. е нейронные сети и данные для нейронных сетей есть упрощённая модель биологического аналога. Некоторые специалисты, говоря о нейросетях, вспоминают человеческий мозг. Да, это близко к истине, но человеческой мозг чрезмерно сложен, поэтому это весьма приближённое сравнение, ведь мы не способны (пока) воссоздать его механизмы в полной мере даже с помощью современных технологий. В результате нейронную сеть лучше назвать программой, которая основана на принципе работы головного мозга.

Нейросеть — это связка нейронов. Каждый из этих нейронов получает данные, обрабатывает их, а потом передаёт другому нейрону. И каждый нейрон обрабатывает сигналы одинаково. Но каким же тогда образом мы получаем разный результат? За это отвечают синапсы, соединяющие нейроны друг с другом. Каждый нейрон способен иметь множество синапсов, которые ослабляют или усиливают сигнал. Нейроны способны менять свои характеристики в течение определённого времени. Кстати, правильно выбрав параметры синапсов, мы сможем получать на выходе правильные результаты преобразования входной информации.

Виды нейронных сетей
В общих чертах мы определились с тем, что же такое нейронная сеть. Теперь пришло время поговорить об их разновидностях и типах, то есть о классификации. Но тут потребуется небольшое уточнение. Каждая нейронная сеть включает в себя первый слой нейронов, называемый входным. Этот слой не выполняет каких-либо преобразований и вычислений, его задача в другом: принимать и распределять входные сигналы по остальным нейронам. И этот слой единственный, являющийся общим для всех типов нейросетей, а критерием для деления является уже дальнейшая структура:
1. Однослойная структура нейронной сети. Представляет собой структуру взаимодействия нейронов, в которой сигналы со входного слоя сразу направляются на выходной слой, который, собственно говоря, не только преобразует сигнал, но и сразу же выдаёт ответ. Как уже было сказано, 1-й входной слой только принимает и распределяет сигналы, а нужные вычисления происходят уже во втором слое. Входные нейроны являются объединёнными с основным слоем с помощью синапсов с разными весами, обеспечивающими качество связей.
2. Многослойная нейронная сеть. Здесь, помимо выходного и входного слоёв, имеются ещё несколько скрытых промежуточных слоёв. Число этих слоёв зависит от степени сложности нейронной сети. Она в большей степени напоминает структуру биологической нейронной сети. Такие виды были разработаны совсем недавно, до этого все процессы были реализованы с помощью однослойных нейронных сетей. Соответствующие решения обладают большими возможностями, если сравнивать с однослойными, ведь в процессе обработки данных каждый промежуточный слой — это промежуточный этап, на котором осуществляется обработка и распределение информации.

Кроме количества слоёв, нейронные сети можно классифицировать по направлению распределения информации по синапсам между нейронами:
1. Нейросети прямого распространения (однонаправленные). В этой структуре сигнал перемещается строго по направлению от входного слоя к выходному. Движение сигнала в обратном направлении не осуществляется и в принципе невозможно. Сегодня разработки этого плана распространены широко и на сегодняшний день успешно решают задачи распознавания образов, прогнозирования и кластеризации.
2. Рекуррентные нейронные сети (с обратными связями). Здесь сигнал двигается и в прямом, и в обратном направлении. В итоге результат выхода способен возвращаться на вход. Выход нейрона определяется весовыми характеристиками и входными сигналами, плюс дополняется предыдущими выходами, снова вернувшимися на вход. Этим нейросетям присуща функция кратковременной памяти, на основании чего сигналы восстанавливаются и дополняются во время их обработки.
3. Радиально-базисные функции.
4. Самоорганизующиеся карты.

Но это далеко не все варианты классификации и виды нейронных сетей. Также их делят:
1. В зависимости от типов нейронов:
— однородные;
— гибридные.
2. В зависимости от метода нейронных сетей по обучению:
— обучение с учителем;
— без учителя;
— с подкреплением.
3. По типу входной информации нейронные сети бывают:
— аналоговые;
— двоичные;
— образные.
4. По характеру настройки синапсов:
— с фиксированными связями;
— с динамическими связями.

Ещё существуют понятия гетероассоциативные или автоассоциативные нейросети.</p>

 </div>

 <div class="col-5 col-sm-4">

 <div class="card border-primary mb-4">
 <div class="card-body">
 <h5 class="card-title">Информационная карта</h5>
 <p class="card-text">Для перехода на основной сайт нажмите кнопку.</p>
 <a href="{% url 'signup' %}" class="btn btn-outline-secondary">Регистрация</a>
 </div>
 </div>

 <div class="menu sticky-top p-3 bg-light">
 <h5 class="text-primary">Информация из статьи</h5>
 <div class="nav flex-column">
 <a href="https://otus.ru/nest/post/1263/" class="nav-link pl-0">(:</a>

 </div>
 </div>

 </div>
 <!-- col-5 -->
 </div>
 <!-- row -->
</div>
<!-- container -->